html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
}

#login-form {
    display: block;
    margin: auto;
    max-width: 20%;
}

#login-form>input {
    text-align: center;
}